{% extends "master.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Record a Song</title>
</head>
<body>
    <p style="color: white; font-size: 40px;   font-family: 'Helvetica', sans-serif;">Record A Song</p>
    <!-- <div class="menu">
        <button>&#9776;</button>
        <div class="dropdown">
            <a href="#"><img src="icon1.png" alt="Icon 1"> About Us</a>
            <a href="#"><img src="icon2.png" alt="Icon 2"> Option 2</a>
            <a href="#"><img src="icon3.png" alt="Icon 3"> Settings</a>
        </div>
    </div> -->
    <button class="large-button">Record</button>
    <button class="small-button">Upload File</button>


</body>

{% endblock %}


