body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(25, 24, 24);
    background-image: url("/static/band_photo.png"); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

/* I moved hamburger code to hamburger.css for portability with editor*/

/*Main Record Button Code*/
.large-button {
    width: 450px;
    height: 450px;
    border-radius: 1000px;
    border-width: 6.5px;
    border-style: solid;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.438);
     -webkit-transition: box-shadow 0.25s;
     transition: box-shadow 0.25s;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    margin-bottom: 20px;
}
.large-button {
    background-image: linear-gradient(-45deg, #b81a1aba, #c01c1c );
    z-index: 1;
}

.large-button:hover {
box-shadow: 0px 1px 16px rgba(255, 255, 255, 0.438);
background-image: linear-gradient(-45deg, #b81a1a3d, #c01c1c34 );
}


/*Code for upload file button*/
.small-button {
    padding: 0.4em 1.6em;
    margin: 0 0.em 0.1em 0;
    border: 0.1em solid rgb(255, 255, 255, .3);
    border-radius: 3em;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}

.small-button:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}