#canvas-container {
    background-color: white;
    align-self: center;
}

.my-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c7c7c7;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.my-navbar .logo {
    font-size: 20px;
    font-weight: bold;
    padding-right: 1rem;
}
.my-navbar .my-nav-buttons {
    display: flex;
    gap: 10px;
}
.my-navbar .my-nav-buttons button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.my-navbar .my-nav-buttons button:hover {
    background-color: #777;
}
