body {
    background-color: rgba(171, 172, 171, 0.642);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}
.menu {
    position: absolute;
    top: 20px;
    right: 20px;
}
.menu button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
    cursor: pointer;
}
.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
}
.dropdown a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.dropdown a img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.dropdown b {
    color: rgb(13, 50, 35);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.dropdown c {
    color: rgb(23, 11, 46);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.menu:hover .dropdown {
    display: block;
}
.large-button {
    width: 450px;
    height: 450px;
    background-color: rgb(27, 96, 49);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
}
.small-button {
    width: 300px;
    height: 35px;
    background-color: rgb(62, 199, 62);
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}